<%= form_for customer, html: {class: "form-horizontal"} do |f| %>
  <%#= render "shared/error_messages", object: f.object %>

  <div class="form-group">
    <label class="col-md-2 control-label" for="customer_name">NAME</label>
		<div class="col-md-4">
			<%= f.text_field :name, class: "form-control" %>
		</div>
		<%= render partial: "shared/validation_error_message_first",
		 locals: { err_msgs: customer.errors[:name], attr_name: "Name" }%>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label" for="customer_street">STREET</label>
		<div class="col-md-4">
			<%= f.text_field :street, class: "form-control" %>
		</div>
		<%= render partial: "shared/validation_error_message_first",
		 locals: { err_msgs: customer.errors[:street], attr_name: "Street" }%>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label" for="customer_city">CITY</label>
		<div class="col-md-4">
			<%= f.text_field :city, class: "form-control" %>
		</div>
		<%= render partial: "shared/validation_error_message_first",
		 locals: { err_msgs: customer.errors[:city], attr_name: "City" }%>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label" for="customer_state">STATE</label>
		<div class="col-md-4">
			<%= f.select :state, options_for_select(us_states, customer[:state]), {}, class: "form-control" %>
		</div>
		<%= render partial: "shared/validation_error_message_first",
		 locals: { err_msgs: customer.errors[:state], attr_name: "State" }%>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label" for="customer_zipcode">ZIP CODE</label>
		<div class="col-md-4">
			<%= f.text_field :zipcode, class: "form-control", placeholder: "#####" %>
		</div>
		<%= render partial: "shared/validation_error_message_first",
		 locals: { err_msgs: customer.errors[:zipcode], attr_name: "Zip code" }%>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label" for="customer_home_phone">HOME PHONE</label>
		<div class="col-md-4">
			<%= f.telephone_field :home_phone, class: "form-control", placeholder: "###-###-####" %>
		</div>
		<%= render partial: "shared/validation_error_message_first",
		 locals: { err_msgs: customer.errors[:home_phone], attr_name: "Home Phone" }%>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label" for="customer_work_phone">WORK PHONE</label>
		<div class="col-md-4">
			<%= f.telephone_field :work_phone, class: "form-control", placeholder: "###-###-####" %>
		</div>
		<%= render partial: "shared/validation_error_message_first",
		 locals: { err_msgs: customer.errors[:work_phone], attr_name: "Work Phone" }%>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label" for="customer_email">EMAIL</label>
		<div class="col-md-4">
			<%= f.email_field :email, class: "form-control" %>
		</div>
		<%= render partial: "shared/validation_error_message_first",
		 locals: { err_msgs: customer.errors[:email], attr_name: "Email" }%>
  </div>

  <%= f.submit class: "btn btn-default" %>
	 
	<%= link_to "Cancel", customers_path, class: "btn btn-default" %>

<% end %>
