<h1>Customers</h1>
<%= link_to "Add Customer", new_customer_path, class: "btn btn-default valign_middle" %>
<br />
<br />
<table id="customer-index-table" class="tablesorter">
	<thead>
	  <tr>
	    <th>NAME</th>
	    <th>EMAIL</th>
	    <th></th>
	    <th></th>
	    <th></th>
	  </tr>
	</thead>

	<tbody>
	<% @customers.each do |customer| %>
	  <tr>
	    <td><%= customer.name %></td>
	    <td><%= customer.email %></td>
	    <td><%= link_to "Detail with associated Orders", customer %></td>
	    <td><%= link_to "Edit", edit_customer_path(customer) %></td>
	    <td><%= link_to "Delete", customer, method: :delete, data: { confirm: "Delete this customer?" } %></td>
	  </tr>
	<% end %>
	</tbody>
</table>
