<h1>Customers</h1>
<%= link_to "Add Customer", new_customer_path, class: "btn btn-default valign_middle" %>
<br />
<br />
<table class="table table-striped table-bordered">
  <tr class="head-row">
    <th>NAME</th>
    <th>EMAIL</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
 
<% @customers.each do |customer| %>
  <tr>
    <td><%= customer.name %></td>
    <td><%= customer.email %></td>
    <td><%= link_to "Show detail with orders", customer %></td>
    <td><%= link_to "Edit", edit_customer_path(customer) %></td>
    <td><%= link_to "Delete", customer, method: :delete, data: { confirm: "Delete this customer?" } %></td>
  </tr>
<% end %>
</table>
