<h1>Customers</h1>

<div class="row">
  <div class="col-md-2">
		<%= link_to "Add Customer", new_customer_path, class: "btn btn-default valign_middle" %>
  </div>
  <div class="col-md-3">
		<!-- pager -->
		<div id="customer-pager" class="pager customer-pager">
		  <form>
		    <%= image_tag("first.png", class: "first") %>
		    <%= image_tag("prev.png", class: "prev") %>
		    <span class="pagedisplay"></span> <!-- this can be any element, including an input -->
		    <%= image_tag("next.png", class: "next") %>
		    <%= image_tag("last.png", class: "last") %>
		    <select class="pagesize">
		      <option value="10">10</option>
		      <option value="20">20</option>
		      <option value="30">30</option>
		      <option value="40">40</option>
		    </select>
		  </form>
		</div>
  </div>
</div>

<table id="customer-index-table" class="tablesorter">
	<thead>
		<tr>
			<th>NAME</th>
			<th>EMAIL</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>

	<tbody>
	<% @customers.each do |customer| %>
		<tr>
			<td><%= customer.name %></td>
			<td><%= customer.email %></td>
			<td><%= link_to "Customer Detail with Orders", customer %></td>
			<td><%= link_to "Edit", edit_customer_path(customer) %></td>
			<td><%= link_to "Delete", customer, method: :delete,
				data: { confirm: "Delete this customer and associated orders?" } %></td>
		</tr>
	<% end %>
	</tbody>
</table>
