<h1>Customer</h1>
<table class="table table-bordered"> 
  <tr>
    <td class="field-label col-md-2 active text-right"><label>NAME:</label></td>
    <td class="col-md-10"><%= @customer.name %></td>
  </tr>
  <tr>
    <td class="field-label col-md-2 active text-right"><label>STREET:</label></td>
    <td class="col-md-10"><%= @customer.street %></td>
  </tr>
  <tr>
    <td class="field-label col-md-2 active text-right"><label>CITY:</label></td>
    <td class="col-md-10"><%= @customer.city %></td>
  </tr>
  <tr>
    <td class="field-label col-md-2 active text-right"><label>STATE:</label></td>
    <td class="col-md-10"><%= @customer.state %></td>
  </tr>
  <tr>
    <td class="field-label col-md-2 active text-right"><label>ZIP CODE:</label></td>
    <td class="col-md-10"><%= @customer.zipcode %></td>
  </tr>
  <tr>
    <td class="field-label col-md-2 active text-right"><label>HOME PHONE:</label></td>
    <td class="col-md-10"><%= @customer.home_phone %></td>
  </tr>
  <tr>
    <td class="field-label col-md-2 active text-right"><label>WORK PHONE:</label></td>
    <td class="col-md-10"><%= @customer.work_phone %></td>
  </tr>
  <tr>
    <td class="field-label col-md-2 active text-right"><label>EMAIL:</label></td>
    <td class="col-md-10"><%= @customer.email %></td>
  </tr>
</table>
