<div class="row">
	<div>
		<h1>Order</h1>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<table class="table table-bordered">
			<tr>
				<td class="field-label col-md-2 active text-right"><label>DESCRIPTION:</label></td>
				<td class="col-md-4"><%= @order.description %></td>
			</tr>
			<tr>
				<td class="field-label col-md-2 active text-right"><label>DATE:</label></td>
				<td class="col-md-4"><%= @order.date.strftime("%-m/%-d/%Y") %></td>
			</tr>
			<tr>
				<td class="field-label col-md-2 active text-right"><label>TOTAL:</label></td>
				<td class="col-md-4"><%= number_to_currency(@order.total, unit: "") %></td>
			</tr>
		</table>
	</div>
	<div class="col-md-6">
		<%= link_to "Edit", edit_order_path(@order), class: "btn btn-default" %> 
		<%= link_to "Back to Customer", customer_path(@order.customer_id), class: "btn btn-default" %>
	</div>
</div>	<!-- .row -->
<div class="row">
	<div class="col-md-2">
		<h2>Line Items</h2>
	</div>
	<div class="col-md-2">
		<%= link_to "Add Line Item", new_order_line_item_path(@order), class: "btn btn-default", style: "margin-top: 20px" %> 
	</div>
</div>
<table id="lineitem-index-table" class="tablesorter">
	<thead>
	  <tr>
	    <th>NAME</th>
	    <th>UPC</th>
	    <th>QUANTITY</th>
	    <th>UNIT PRICE</th>
	    <th>DISCOUNT %</th>
	    <th>TOTAL</th>
	  </tr>
	</thead>

	<tbody>
	<%
		@order.line_items.each do |line_item|
	%>
	  <tr>
	    <td><%= line_item.product.name %></td>
	    <td><%= line_item.product.upc %></td>
	    <td><%= line_item.quantity %></td>
	    <td><%= number_to_currency(line_item.product.unit_price, unit: "") %></td>
	    <td><%= line_item.discount_percent %></td>
	    <td><%= number_to_currency(line_item.total, unit: "") %></td>
	  </tr>
	<% end %>
	</tbody>
</table>
