<h1>Products</h1>
<%= link_to "Add Product", new_product_path, class: "btn btn-default valign_middle" %>
<br />
<br />
	<table id="product-index-table" class="tablesorter">
	<!-- Commented tags part of Product table sort implementation -->
	<!--<table id="" class="table table-bordered">-->
	<thead>
		<tr>
			<th>NAME</th>
			<!--<th><%#= sortable "name" %></th>-->
			<th>DESCRIPTION</th>
			<th>UPC</th>
			<!--<th><%#= sortable "upc" %></th>-->
			<th>UNIT PRICE</th>
			<th>INVENTORY</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>

	<tbody>
	<% @products.each do |product| %>
		<tr>
			<td><%= product.name %></td>
			<td><%= product.description %></td>
			<td><%= product.upc %></td>
			<td><%= number_to_currency(product.unit_price, unit: "") %></td>
			<td><%= product.inventory_qty %></td>
			<td><%= link_to "Detail", product %></td>
			<td><%= link_to "Edit", edit_product_path(product) %></td>
			<td><%= link_to "Delete", product, method: :delete,
				data: { confirm: "Delete this product and associated order line items?" } %></td>
		</tr>
	<% end %>
	</tbody>
</table>
