<h1>Products</h1>

<div class="row">
  <div class="col-md-2">
		<%= link_to "Add Product", new_product_path, class: "btn btn-default valign_middle" %>
  </div>
  <div class="col-md-3">
		<!-- pager -->
		<div id="product-pager" class="pager product-pager">
		  <form>
		    <%= image_tag("first.png", class: "first") %>
		    <%= image_tag("prev.png", class: "prev") %>
		    <span class="pagedisplay"></span> <!-- this can be any element, including an input -->
		    <%= image_tag("next.png", class: "next") %>
		    <%= image_tag("last.png", class: "last") %>
		    <select class="pagesize">
		      <option value="10">10</option>
		      <option value="20">20</option>
		      <option value="30">30</option>
		      <option value="40">40</option>
		    </select>
		  </form>
		</div>
  </div>
</div>

<table id="product-index-table" class="tablesorter">
	<!-- Commented tags part of Product table sort implementation -->
	<!--<table id="" class="table table-bordered">-->
	<thead>
		<tr>
			<th>NAME</th>
			<!--<th><%#= sortable "name" %></th>-->
			<th>DESCRIPTION</th>
			<th>UPC</th>
			<!--<th><%#= sortable "upc" %></th>-->
			<th>UNIT PRICE</th>
			<th>INVENTORY</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<!--
	<tfoot>
		<tr>
			<th>NAME</th>
			<th>DESCRIPTION</th>
			<th>UPC</th>
			<th>UNIT PRICE</th>
			<th>INVENTORY</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</tfoot>
-->

	<tbody>
	<% @products.each do |product| %>
		<tr>
			<td><%= product.name %></td>
			<td><%= product.description %></td>
			<td><%= product.upc %></td>
			<td><%= number_to_currency(product.unit_price, unit: "") %></td>
			<td><%= product.inventory_qty %></td>
			<td><%= link_to "Detail", product %></td>
			<td><%= link_to "Edit", edit_product_path(product) %></td>
			<td><%= link_to "Delete", product, method: :delete,
				data: { confirm: "Delete this product and associated order line items?" } %></td>
		</tr>
	<% end %>
	</tbody>
</table>
