<!DOCTYPE html>
<html>
<head>
  <title>Associations</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= render "layouts/shim" %>
</head>
<body>

  <!-- Static navbar -->
  <div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Associations</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="<%= 'active' if params[:controller] == 'customers' %>">
          	<%= link_to "Customers", customers_path %>
          </li>
          <li class="<%= 'active' if params[:controller] == 'users' %>">
          	<%= link_to "Users", users_path %>
          </li>
          <li class="<%= 'active' if params[:controller] == 'static_pages' && params[:action] == 'about' %>">
          	<%= link_to "About", about_static_page_path %>
          </li>
          <li class="<%= 'active' if params[:controller] == 'static_pages' && params[:action] == 'contact' %>">
          	<%= link_to "Contact", contact_static_page_path %>
          </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>

	<div class="container">
		<% flash.each do |key, value| %>
			<div class="alert alert-<%= key %>"><%= value %></div>
		<% end %>
		<%= yield %>
		<%= debug(params) if Rails.env.development? %>
	</div>
</body>
</html>
